@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Slabo+27px');
body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	background: white;
	background: #dfe8f1;
	background: #74ade3;
	font-family: 'Lato', sans-serif;
	font-size: 1.05em;
	color: black;
	line-height: 1.45;
}

/*-----------------------------------------------
	DEFAULT AND REUSABLE STYLES
------------------------------------------------*/

.slabo {
	font-family: 'Slabo 27px', serif;	
}
.dancingscript {
	font-family: 'Dancing Script', cursive;
}
.lato {
	font-family: 'Lato', sans-serif;
}

h2 {
	color: #358f5b;
	font-size: 1.2em;
}
h2.black {
	color: black;
}
h3 {
	color: #358f5b;
	font-size: 1.2em;
}
h3.whatshap {
	color: #358f5b;
	font-size: 1.5em;
	font-variant: small-caps;
	text-align: center;
}
h4 {
	color: #358f5b;
	font-size: 1.1em;
}

a {
	color: #609;
}
a:hover {
	color: #358f5b;
}

a img,
a:hover img {
	border: none;
}
	
a.white {
	color: white;
}
a.white:hover {
	color: white;
	font-weight: bold;
}
a.purple-button {
	padding: 5px 20px;
	color: white;
	font-family: arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #609;
	background: -webkit-linear-gradient(#a790c1, #609);
	background: -o-linear-gradient(#a790c1, #609);
	background: -moz-linear-gradient(#a790c1, #609);
	background: linear-gradient(#a790c1, #609);
	border: 1px solid #609;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #333;
}
a.purple-button:hover {
	color: white;
	text-decoration: none;
	background: #609;
	background: -webkit-linear-gradient(#a790c1, #90c);
	background: -o-linear-gradient(#a790c1, #90c);
	background: -moz-linear-gradient(#a790c1, #90c);
	background: linear-gradient(#a790c1, #90c);
}

.bold {
	font-weight: bold;
}
.center {
	text-align: center;
}
.check {
	list-style-image: url('./img/bulletCheck.png');
}
.darkgreen {
	color: #24643f;
}
.docbox {
	margin: 0;
	padding: 15px;
	font-size: .75em;
	text-align: center;
	background: #fcfcfc;
	border: 1px solid #609;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #666;
}
.docbox:hover {
	background: #ffc;
}
.docbox a {
	text-decoration: none;
}
.docbox a:hover {
	color: #609;
	font-weight: bold;
}
.display-inline {
	display: inline-block;
}
.ebayfavbtn {
	width: 150px;
	height: 50px;
	border: none;
}
.edit {
	list-style-image: url('./img/bulletEdit.png');
}
.error {
	color: red;
}
.floatbox {
	margin: 0 0 0 15px;
	padding: 0;
	max-width: 280px;
	text-align: center;
	line-height: 1.5;
	background: #f7f7f7;
	border: 1px solid #333;
	border-radius: 5px;
	float: right;
}
.floatbox p {
	margin: 0;
	padding: 15px;
	font-weight: bold;
	text-align: center;
}
.floatbox p.title {
	margin: 0;
	padding: 5px 0;
	max-width: 280px;
	color: white;
	font-weight: bold;
	text-align: center;
	background: #24643f;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.floatleft {
	margin: 0 15px 0 0;
	float: left;
}
.floatright {
	margin: 0 0 0 15px;
	float: right;
}
.green {
	color: #358f5b;
}
.greenbox {
	margin: 0 25px 0 0;
	padding: 15px 25px;
	max-width: 200px;
	color: white;
	font: bold 1em arial, sans-serif;
	text-align: center;
	line-height: 1.5;
	background: #24643f;
	border: 1px solid #358f5b;
	border-radius: 5px;
}
.hidden {
	display: none;
}
.highlight {
	background: #ff6;
}
.indent {
	margin-left: 25px;
}
.invisible {
	display: none;
}
.italic {
	font-style: italic;
}
.mission {
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Dancing Script', cursive;
	text-align: center;
}
p.error,
p.info,
p.warning,
p.success {
	margin: 0 0 5px 0;
	padding: 10px;
	color: #202020;
	font-size: .85em;
	background: #fcfdfd;
	border-top: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
}
p.error {
	border-left: 5px solid red;
}
p.info {
	border-left: 5px solid #ccc;
}
p.warning {
	border-left: 5px solid #cc3;
}
p.success {
	border-left: 5px solid #358f5b;
}
.ppblue {
	color: #3a5897;
}
.printonly {
	display: none;
}
.red {
	color: red;
}
.required:after {
	content: " *";
}
.serif {
	font-family: times, serif;
}
.small {
	font-size: .9em;
}
.smallcaps {
	font-variant: small-caps;
}
.smaller {
	font-size: .9em;
}
.thankyou {
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Dancing Script', cursive;
}
ul.circle li {
	list-style-type: disc;
}
ul.disc li {
	list-style-type: disc;
}
ul.square li {
	list-style-type: square;
}
.uscore {
	text-decoration: underline;
}

/*-----------------------------------------------
	RECEIPT
------------------------------------------------*/

body.receipt {
	margin: 50px auto;
	padding: 0;
	font-family: arial, sans-serif;
	font-size: medium;
	max-width: 300px;
	background: white;
}
#receipt-content {
	text-align: center;
	line-height: 150%;
}
#receipt-content .dock {
	position: relative;
	margin: 0 auto;
	padding: 0;
}
#receipt-content p {
	margin: 10px 0;
	padding: 0;
	font-family: arial, sans-serif;
}
#receipt-content h2 {
	margin: 35px 0 0 0;
	padding: 0;
	text-align: center;
	color: #358f5b;
	font-size: 1.15em;
	font-family: arial, sans-serif;
	font-weight: bold;
}
#receipt-content h3 {
	margin: 35px 0 0 0;
	padding: 0;
	text-align: center;
	color: #358f5b;
	font-size: 1em;
	font-family: arial, sans-serif;
	font-weight: bold;
}
#receipt-content h2.casualscript,
#receipt-content h2.thankyou  {
	font-family: 'Dancing Script', cursive;
	font-size: x-large;
	font-weight: normal;
}
#receipt-content .cgaddy {
	margin: 50px auto;
	position: relative;
	padding: 5px 15px;
	text-align: center;
	border: 1px solid black;
}
#receipt-content .success {
	color: #358f5b;
}

/*-----------------------------------------------
	HEADER
------------------------------------------------*/

#header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 225px;
	background: #a5c6e5 url("./img/cg-mural-seamless-75.png") repeat-x;
	background-position: bottom left;
}
#masthead {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 650px;
	text-align: center;
}
#masthead #logomural {
	margin: 25px auto 0 auto;
	padding: 0;
	width: 100%;
	max-width: 650px;
	text-align: center;
}
#masthead #gbfbtop {
	display: none;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	padding: 25px 0;
	min-height: 0;
	max-width: 650px;
}

.themsg {
	margin: 25px auto 0 auto;
	padding: 10px;
	max-width: 500px;
	font-size: x-small;
	line-height: 1.1;
	text-align: left;
	background: #d4eaf5;
	border: 2px solid #24643f;
	border-radius: 15px;
}
.themsg .ttl {
	text-align: center;
	font-weight: bold;
	font-size: small;
	color: green;
}

.donatenow {
	margin: 25px auto 0 auto;
	padding: 0;
	text-align: center;
}

#facebook {
	margin: 25px auto;
	padding: 0;
	width: 100%;
	text-align: center;
	border: none;
}
#facebook img {
	margin: 0 auto;
	padding: 0;
}

/*-----------------------------------------------
	ACCORDION
------------------------------------------------*/

#accordion {
	margin: 0 auto 50px auto;
	padding: 0;
	background: white;
	list-style: none;
	border-bottom: 1px solid #999;
}
#accordion h2 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 7px 10px;
	width: 630px;
	color: white;
	font-size: medium;
	font-weight: normal;
	background: #24643f;
	border-top: 1px solid white;
}
#accordion h2:hover {
	cursor:pointer;
}
#accordion h2 span {
	float: right;
}
#accordion .content {
	padding-left: 25px;
	padding-right: 25px;
}

/*-----------------------------------------------
	FOOD PANTRY
------------------------------------------------*/

#gbfbfp {
	position: relative;
	float: left;
}
#gbfbfp img {
	position: relative;
	margin: -10px 0 0 0;
	padding: 0 15px 0 0;
	width: 90px;
	height: 90px;
}

/*-----------------------------------------------
	MEMBERSHIP
------------------------------------------------*/

.member-options-table {
	width: 190px;
	border-collapse: collapse;
	border: 1px solid #333;
}
.member-options-table td,
.member-options-table th {
	padding: 5px;
	font: .85em arial, sans-serif;
	text-align: left;
	border-bottom: 1px solid #333;
}
.member-options-table th {
	padding: 10px 5px;
	color: white;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	background: #358f5b;
}
.member-options-table td.right {
	text-align: right;
}
#membership-accordion {
	margin: 50px auto;
	padding: 0;
	width: 300px;
	background: white;
	border-right: 1px solid #358f5b;
	border-bottom: 1px solid #358f5b;
	border-left: 1px solid #358f5b;
	list-style: none;
}
#membership-accordion h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 7px 10px;
	width: 280px;
	color: white;
	font-size: medium;
	font-weight: normal;
	background: #358f5b;
	border-top: 1px solid white;
}
#membership-accordion h3:hover {
	cursor:pointer;
}
#membership-accordion h3 span {
	float: right;
}
#membership-accordion .content {
	margin: 0;
	padding: 0;
}
#membership-accordion .input-section {
	margin: 20px 0;
}
#membership-accordion fieldset {
	margin: 0;
	padding: 10px;
	width: 280px;
	border-right: none;
	border-bottom: 1px solid #666;
	border-left: none;
	border-top: none;
}
#membership-accordion #membership_submit {
	margin: 0;
	padding: 10px;
	color: white;
	background: #358f5b;
	border-bottom: 1px solid #e0e0e0;
}
#membership-accordion #membership_submit a,
#membership-accordion #membership_submit a:hover {
	color: white;
}
#membership-accordion h4,
#membership-accordion fieldset h4 {
	margin: 0;
	padding: 0 0 20px 0;
	color: #358f5b;
	font-size: 1em;
	font-weight: bold;
}
#membership-accordion .invisible {
	display: none;
}
#membership-accordion li,
#membership-accordion input,
#membership-accordion select,
#membership-accordion option,
#membership-accordion textarea,
#membership-accordion table td,
#membership-accordion table th {
	font-size: .85em;
	max-width: 250px;
}
#membership-accordion input[type="radio"] {
	margin: 0;
	padding: 0;
	width: 20px;
	text-align: left;
}
#membership-accordion input[type="radio"] + label {
	margin: 0;
	padding: 0;
	text-align: left;
}

#membership-accordion em {
	font-size: 1em;
	font-style: normal;
	font-weight: bold;
}
#membership-accordion .error label {
	color: #ff3547;
}
#membership-accordion .section-error {
	color: #ff3547;
}
#membership-accordion #paypal-text .highlight {
	color: #06c;
	font-weight: bold;
}
#membership-accordion input[type="submit"] {
	padding: 5px 10px;
	max-width: 150px;
}
#membership-accordion input[type="submit"]:hover {
	cursor:  pointer;
}

/*-----------------------------------------------
	NEWSLETTER ARCHIVE
------------------------------------------------*/

.newsletter {
	margin: 10px;
	padding: 10px 20px;
	font-size: small;
	font-family: arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #999;
	border-radius: 7px;
	background: #609;
	box-shadow: 2px 2px 2px #999;
	display: inline-block;
}
.newsletter:hover {
	background: #90c;
}
.newsletter a {
	color: white;
	text-decoration: none;
}
.newsletter a:hover {
	color: white;
	text-decoration: underline;
}

/*-----------------------------------------------
	NEWSLETTER ARCHIVE
------------------------------------------------*/

.newsletter {
	margin: 10px;
	padding: 10px 20px;
	font-size: small;
	font-family: arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #999;
	border-radius: 7px;
	background: #609;
	box-shadow: 2px 2px 2px #999;
	display: inline-block;
}
.newsletter:hover {
	background: #90c;
}
.newsletter a {
	color: white;
	text-decoration: none;
}
.newsletter a:hover {
	color: white;
	text-decoration: underline;
}

/*-----------------------------------------------
	FOLLOW US
------------------------------------------------*/

#followtable {
	margin: 0 auto;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}
#followtable td {
	margin: 0;
	padding: 15px 5px;
	text-align: left;
	vertical-align: middle;
}
#followtable img {
	width: 50px;
	height: 50px;
}

/*-----------------------------------------------
	FOOTER
------------------------------------------------*/

#contact {
	margin: 50px auto;
	font-size: medium;
	font-weight: bold;
	text-align: center;
}
#contact a,
#contact a:hover {
	color: black;
	text-decoration: none;
}

#gicon {
	width: 60px;
}

#footer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 75px;
	background: #358f5b url("./img/cg-mural-seamless-75.png") repeat-x;
}

/*==============================================================
	MEDIA QUERIES
===============================================================*/

/*--------------------------------------------------------------
	PRINT
---------------------------------------------------------------*/

@media print {
	.noprint {
		display: none;
	}
	.printonly {
		display: block;
	}
}

/*--------------------------------------------------------------
	All Screens > 1129px
---------------------------------------------------------------*/

@media screen and (min-width: 1130px) {

/*
	----------
	-- GBFB --
	----------
*/
	#gbfbtop {
		position: absolute;
		top: 0;
		left: 20px;
		margin: 0;
		padding: 0;
		width: 150px;
		height: 150px;
		display: block;
	}
	#gbfbtop img {
		margin: 0;
		padding: 0;
		width: 150px;
		height: 150px;
	}
	#gbfbwrap {
		display: none;
	}
}

/*--------------------------------------------------------------
	All Screens < 1130px
---------------------------------------------------------------*/

@media screen and (max-width: 1129px) {

/*
	----------
	-- GBFB --
	----------
*/
	#gbfbtop {
		display: none;
	}
	.donatenow {
		padding-top: 25px;
	}
	#facebook {
		margin: 25px auto 0 auto;
	}
	#gbfbwrap {
		position: relative;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		text-align: center;
		display: block;
	}
	#gbfbwrap img {
		margin: 0 auto;
		padding: 0;
		width: 150px;
		height: 150px;
		text-align: center;
	}

/*
	-----------------
	-- FOOD PANTRY --
	-----------------
*/
	#gbfbfp img {
		margin: 0;
		width: 75px;
		height: 75px;
	}
}

/*--------------------------------------------------------------
	All Screens < 650px
---------------------------------------------------------------*/

@media screen and (max-width: 649px) {

/*
	----------------------------------
	-- DEFAULTS AND REUSABLE STYLES --
	----------------------------------
*/
	.floatbox,
	.floatleft,
	.floatright {
		margin: 25px auto 0 auto;
		text-align: center;
		float: none;
	}
	.greenbox {
		margin: 25px auto;
		padding: 15px 25px;
		max-width: 200px;
	}
/*
	------------
	-- HEADER --
	------------
*/
	#masthead {
		position: relative;
		margin: 0 auto;
		padding: 0;
		max-width: 100%;
		min-height: 225px;
		text-align: center;
	}
	#masthead img {
		margin: 25px auto 0 auto;
		padding: 0;
		width: 300px;
		text-align: center;
	}

	#wrapper {
		position: relative;
		margin: 25px auto 0 auto;
		padding: 0;
		min-height: 0;
		max-width: 100%;
	}
	#header {
		height: 116px;
		background: #a5c6e5 url("./img/cg-mural-seamless-50.png") repeat-x;
		background-position: bottom left;
	}
	.themsg {
		max-width: 250px;
	}
	#facebook {
		margin: 25px auto;
		padding: 0;
		width: 100%;
		text-align: center;
		border: none;
	}
	#facebook img {
		margin: 0 auto;
		padding: 0;
		max-width: 250px;
	}
/*
	---------------
	-- ACCORDING --
	---------------
*/
	#accordion {
		margin: 0 auto 50px auto;
		padding: 0;
		width: 300px;
	}
	#accordion h2 {
		margin-top: 0;
		margin-bottom: 0;
		padding: 7px 10px;
		width: 280px;
	}
	#accordion .content {
		padding-left: 10px;
		padding-right: 10px;
	}
/*
	----------------
	-- MEMBERSHIP --
	----------------
*/
	#membership-accordion {
		margin: 50px auto;
		padding: 0;
		width: 250px;
	}
	#membership-accordion h3 {
		margin-top: 0;
		margin-bottom: 0;
		padding: 7px 10px;
		width: 230px;
	}
	#membership-accordion .content {
		margin: 0;
		padding: 0;
	}
	#membership-accordion .input-section {
		margin: 20px 0;
	}
	#membership-accordion fieldset {
		margin: 0;
		padding: 10px;
		width: 230px;
	}
	#membership-accordion #membership_submit {
		margin: 0;
		padding: 10px;
		color: white;
		background: #358f5b;
		border-bottom: 1px solid #e0e0e0;
	}
	#membership-accordion h4,
	#membership-accordion fieldset h4 {
		margin: 0;
		padding: 0 0 20px 0;
		color: #358f5b;
		font-size: 1em;
		font-weight: bold;
	}
	#membership-accordion li,
	#membership-accordion input,
	#membership-accordion select,
	#membership-accordion option,
	#membership-accordion textarea,
	#membership-accordion table td,
	#membership-accordion table th {
		font-size: .85em;
		max-width: 200px;
	}
	#membership-accordion input[type="radio"] {
		margin: 0;
		padding: 0;
		width: 20px;
		text-align: left;
	}
	#membership-accordion input[type="radio"] + label {
		margin: 0;
		padding: 0;
		text-align: left;
	}
/*
	---------------
	-- VOLUNTEER --
	---------------
*/
	#blue-bee-feathered {
		margin: 25px auto 0 auto;
		padding: 0;
		width: 150px;
		float: none;
	}
/*
	---------------
	-- FOLLOW US --
	---------------
*/
	#followtable td {
		margin: 0;
		padding: 20px 5px;
		text-align: left;
		font-size: small;
		vertical-align: middle;
	}
	#followtable img {
		width: 25px;
		height: 25px;
	}

/*
	----------------
	-- SEND EMAIL --
	----------------
*/
	#sendemail_container {
		margin: 0 auto;
		padding: 15px;
		width: 250px;
		background: #efefef;
		border: 1px solid #609;
	}
	#sendemail_form input[type="text"],
	#sendemail_form input[type="email"] {
		width: 150px;
	}
/*
	------------
	-- FOOTER --
	------------
*/
	#footer {
		height: 50px;
		background: #358f5b url("./img/cg-mural-seamless-50.png") repeat-x;
	}

}
